/* .chatWindow{
    background-color: #212121;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;   
}
.navbar span{
    margin: 2rem 1rem;
}
.userIconDiv{
    margin: 2rem 1rem;
}
.userIcon{
    background-color: #339cff;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    font-size: 20px;
    display: flex; 
   align-items: center; 
 justify-content: center; 
    cursor: pointer; 
}


.chatInput{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inputBox{
    width: 100%;
    position: relative;
    max-width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    width: 100%;
    border: none;
    background-color: rgba(255,255,255,0.05);
    padding: 10px;
    border-radius: 14px;
    color: white;
    font-size: 0.8rem;
       box-shadow: rgba(0, 0, 0, 0.05) 0 54px 55px,
                rgba(0, 0, 0, 0.05) 0 -12px 30px,
                rgba(0, 0, 0, 0.05) 0 4px 6px,
                rgba(0, 0, 0, 0.05) 0 12px 3px,
                rgba(0, 0, 0, 0.05) 0 -3px 5px;
}
input:focus{
    outline: none;
}
#submit{
    font-size: 20px;
    cursor: pointer;
    width: 35px;
    height: 35px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;

}
#submit i:hover{
    color: #fff;
}
.info{
    font-size: 0.8rem;
    padding: 0.5rem;
    color: #b4b4b4;
}
 */

.chatWindow {
    background-color: #212121;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

/* navbar */

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar span {
    margin: 1rem 2rem;
}

.userIconDiv {
    margin: 1rem 2rem;
}

.userIcon {
    background-color: #339cff;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* chat input */
.chatInput {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputBox {
    width: 100%;
    position: relative;
    max-width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input {
    width: 100%;
    border: none;
    background-color: rgba(255, 255, 255, 0.05);
    padding: 20px;
    font-size: 0.8rem;
    border-radius: 14px;
    box-shadow: rgba(0, 0, 0, 0.05) 0 54px 55px,
                rgba(0, 0, 0, 0.05) 0 -12px 30px,
                rgba(0, 0, 0, 0.05) 0 4px 6px,
                rgba(0, 0, 0, 0.05) 0 12px 3px,
                rgba(0, 0, 0, 0.05) 0 -3px 5px;
}

input:focus {
    outline: none;
}

#submit {
    cursor: pointer;
    height: 35px;
    width: 35px;
    font-size: 20px;
    position: absolute;
    right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#submit i:hover {
    color: #fff;
}

.info {
    font-size: 0.8rem;
    padding: 0.5rem;
    color: #b4b4b4;
}

/* dropdown css */
.dropDown{
    position: absolute;
    right: 4rem;
    top: 4rem;
    width: 150px;
    background-color: #323232;
    padding: 0.3rem 0.5rem;
    border-radius: 6px;
    text-align: left;
    z-index: 1000;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}
.dropDownItem{
    font-size: 0.9rem;
    margin: 0.3rem 0rem;
    padding: 0.4rem 0.3rem;
}
.dropDownItem:hover {
    background-color: rgba(180, 180, 180, 0.1);
    border-radius: 6px;
}
.dropDownItem i{
    margin: 0rem 0.3rem;
}
.authButtons{
    display: flex;
    position: absolute;
    right: 7rem;
    font-size: 1rem;
}
.logout-btn {
  background: #ff4b4b;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
}
.logout-btn:hover {
  background: #e43e3e;
}
